<nav style="background-color: black !important" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/icons/logoNoWord.png" alt="logo" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link mx-1" href="/">Home</a>
                <%- include('./menudropdown') %>
                <a class="nav-link mx-1" href="/main/cart">Cart</a>
                <a class="nav-link mx-1" href="/contact">Contact</a>
                <a class="nav-link mx-1" href="/branches">Our Branches</a>
                <%- include('./admin') %>


            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) {%>
                <a href="/register" class="nav-link mx-1">Register</a>
                <a href="/login" class="nav-link mx-1">Login</a>
                <% } else{ %>
                <a href="/profile" class="nav-link mx-1">Profile</a>
                <a href="/logout" class="nav-link mx-1">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>