body{
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-nav a{
  font-size: 1.2rem !important;
}
.navbar-dark{
  background-color: black;
}

.bg-color{
  background-color: rgb(24, 26, 27);
}

.border-color-form{
  border-color: rgba(140, 130, 115, 0.13) !important;
}