body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/a4f01c82667439.5d24aafde4b5e.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  -webkit-transition: background-image  1s linear;
  transition: background-image  1s linear;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}


.cover-container {
max-width: 60vw;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255,255,255,0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
  color: rgba(255,255,255,0.5);
  border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
  color: white;
  border-bottom-color:white;

}

.btn-secondary, .btn-secondary:hover{
  color: #333;
  text-shadow: none;
}