<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/css/menu.css">

<h1 class="text-center text-light fw-bold">Three Guys Menu</h1>

<section class="container row mx-auto mt-4">

    <div class="col-lg-4">

        <div class="card mb-5">
            <img src="/icons/test.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="card mb-5">
            <img src="/icons/test2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="card mb-5">
            <img src="/icons/test3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</section>